<p style="color: green"><%= notice %></p>

<%= render @user_location %>

<div>
  <%= link_to "Edit this user location", edit_user_location_path(@user_location) %> |
  <%= link_to "Back to user locations", user_locations_path %>

  <%= button_to "Destroy this user location", @user_location, method: :delete %>
</div>
